bin/
obj/
.vs/
*.user
*.suo
*.DotSettings.user
packages/
TestResults/
*.nupkg
*.zip
*.jar
.build-staging/
.env
rider-plugin/.gradle/
rider-plugin/build/
!rider-plugin/gradle/wrapper/gradle-wrapper.jar
